<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.github.weswhet.pomme</string>
	<key>CFBundleName</key>
	<string>pomme</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>PommeGitCommit</key>
	<string>$(POMME_GIT_COMMIT)</string>
	<key>PommeDistribution</key>
	<string>$(POMME_DISTRIBUTION)</string>
</dict>
</plist>
